# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_SPLITKB_LEFT
	def_bool $(shields_list_contains,splitkb_left)

config SHIELD_SPLITKB_RIGHT
	def_bool $(shields_list_contains,splitkb_right)
