/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 20>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <20 21>;
        };

        Delete {
            bindings = <&kp DELETE>;
            key-positions = <14 15>;
        };
    };

    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 14 15 16 17 18 19 20 28 29 30 31 32 33 34 42 43 44 45 46 47 54 55 56 57 58 59>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <7 8 9 10 11 12 13 21 22 23 24 25 26 27 35 36 37 38 39 40 41 48 49 50 51 52 53 60 61 62 63 64 65>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        3

        default_layer {
            bindings = <
&kp GRAVE  &kp N1    &kp N2     &kp N3    &kp N4        &kp N5     &kp N6     &kp N7        &kp N8     &kp N9   &kp N0     &kp MINUS
&kp TAB    &kp Q     &kp W      &kp E     &kp R         &kp T      &kp Y      &kp U         &kp I      &kp O    &kp P      &kp LBKT
&kp ESC    &kp A     &kp S      &kp D     &kp F         &kp G      &kp H      &kp J         &kp K      &kp L    &kp SEMI   &kp SQT
&kp LSHFT  &kp Z     &kp X      &kp C     &kp V         &kp B      &kp N      &kp M         &kp COMMA  &kp DOT  &kp FSLH   &kp RSHFT
&kp LCTRL  &none                          &kp LEFT_WIN  &kp SPACE  &kp SPACE  &kp LEFT_ALT                      &none      &kp RCTRL
           &kp LEFT  &kp RIGHT  &kp DOWN  &kp UP_ARROW  &kp ENTER  &kp LEFT   &kp RIGHT     &kp DOWN   &kp UP   &kp ENTER
            >;
        };
    };
};
